/* old colors
$hackclub-red: #db4b4f
$hackclub-blue: #3b67a8
$hackclub-green: #09ad5e
$hackclub-black: #303030
$hackclub-purple: #794aa1
$hackclub-orange: #e37717
$hackclub-white: darken(#ffffff, 4%)
$hackclub-white-on-black: #818181
/* new colors
$hackclub-new-red: #ff4b55
$hackclub-new-purple: #d44e74
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Arimo)

body
  font-family: "Open Sans", Arial, Helvetica, sans-serif
  background: $hackclub-white

.fieldset legend
  background: $hackclub-white

h1, h2, h3, h4, h5
  font-family: "Arimo", Arial, sans-serif

.title
  color: $hackclub-white
  padding: 2em 0
  background: $hackclub-new-red
  background: url(/img/bg_gradient.jpg) no-repeat center top
  background-size: cover
  box-sizing: border-box

.row
  max-width: 1000px

.button
  background: $hackclub-new-red

.button:hover
  background: darken($hackclub-new-red, 10%)
