/* old colors
$hackclub-red: #db4b4f
$hackclub-blue: #3b67a8
$hackclub-green: #09ad5e
$hackclub-black: #303030
$hackclub-purple: #794aa1
$hackclub-orange: #e37717
$hackclub-white: darken(#ffffff, 4%)
$hackclub-white-on-black: #818181

/* new colors
$hackclub-new-red: #ff4b55
$hackclub-new-purple: #d44e74
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Arimo)

body
  font-family: "Open Sans", Arial, Helvetica, sans-serif

h1, h2, h3, h4, h5
  font-family: "Arimo", Arial, sans-serif

.row
  max-width: initial
  padding: 0
  width: 100%
  margin: 0

.section
  padding: 2em 0

.title
  padding: 100px 0
  color: $hackclub-white
  background: $hackclub-new-red
  background: url(/img/bg_gradient.jpg) no-repeat center top
  background-size: cover
  box-sizing: border-box
  .header
    min-width: 50%
  /* p
  /*   font-size: 1.15rem
  /* h1
  /*   font-size: 7.5rem
  h2
    font-size: 1.25rem
    margin: 1rem 0
  h3
    font-size: 1.125rem
    margin-top: 1rem
  .button
    transition-duration: 0.3s
    line-height: 1.5em
    background: rgba(0, 0, 0, 0)
    border: 1px solid $hackclub-white
  .button:hover
    background-color: rgba(255, 255, 255, 0.15)

@media (max-width: 40em)
  .title
    min-height: 90%
    box-sizing: border-box

.testimony
  color: $hackclub-black
  /* background: $hackclub-new-red
  background: $hackclub-white
  /* background: linear-gradient(to top right, $hackclub-new-red, $hackclub-new-purple)
  /* background: -webkit-linear-gradient(to top right, $hackclub-new-red, $hackclub-new-purple)
  q
    font-style: italic
    display: block
    color: $hackclub-black
    /* color: white
    border: 0
    background: white

.summary
  background: $hackclub-new-red
  background: linear-gradient(to top left, $hackclub-new-red, $hackclub-new-purple)
  background: -webkit-linear-gradient(to top left, $hackclub-new-red, $hackclub-new-purple)
  color: $hackclub-white
  padding: 3em 0
  p
    margin: 0
    line-height: 1.4
    font-size: 1rem

.faq
  color: $hackclub-black
  background-color: $hackclub-white
  hr
    margin: 25px 0
    height: 1px
    border: 0
    background: $hackclub-new-red
    background: linear-gradient(left, $hackclub-white 0%, $hackclub-new-red 50%, $hackclub-white 100%)
    background: -webkit-linear-gradient(left, $hackclub-white 0%, $hackclub-new-red 50%, $hackclub-white 100%)
  .callout
    background-color: darken($hackclub-white, 1%)
    border: 1px solid $hackclub-new-red
  h1
    font-size: 3rem
  h2
    font-family: "Open Sans", Arial, Helvetica, sans-serif
    font-size: 1.6875rem

.footer
  color: $hackclub-white
  background: $hackclub-new-red
  background: linear-gradient(to top left, $hackclub-new-red, $hackclub-new-purple)
  background: -webkit-linear-gradient(to top left, $hackclub-new-red, $hackclub-new-purple)
  .email
    color: $hackclub-white
    text-decoration: underline

@media only screen and (min-width: 64.063em)
  .email
    text-shadow: 0 0 1px $hackclub-white
