$hackclub-red: #db4b4f
$hackclub-blue: #3b67a8
$hackclub-green: #09ad5e
$hackclub-black: #303030
$hackclub-purple: #794aa1
$hackclub-orange: #e37717
$hackclub-white: #ffffff
$hackclub-white-on-black: #818181
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import url(https://fonts.googleapis.com/css?family=Arimo)

body
  font-family: "Open Sans", Arial, Helvetica, sans-serif

h1, h2, h3, h4, h5
  font-family: "Arimo", Arial, sans-serif

.row
  max-width: initial
  padding: 0
  width: 100%

.section
  padding: 2em 0

.title
  padding: 100px 0
  color: darken($hackclub-red, 5%)
  background: darken(white, 5%)
  background: url(/img/bg_gradient.jpg) no-repeat center top
  background-size: cover
  box-sizing: border-box
  .header
    min-width: 50%
  h1
    font-size: 7.5rem
  h3
    line-height: 1.5em
  .button
    line-height: 1.5em
    background-color: darken($hackclub-red, 5%)
  .button:hover
    background-color: darken($hackclub-red, 10%)

@media (max-width: 40em)
  .title
    height: 90%
    box-sizing: border-box

.summary
  background-color: $hackclub-blue
  color: $hackclub-white
  &, %p
    margin: 0
    line-height: 1.4
    font-size: 1.6875rem

.faq
  color: $hackclub-black
  background-color: darken($hackclub-white, 2%)
  .callout
    background-color: $hackclub-white
    border: 1px solid rgba(0, 0, 0, 0.1)

.footer
  color: $hackclub-white-on-black
  background: $hackclub-black
  .email
    color: $hackclub-blue
