!!!
%html
  %head
    / Page info
    %meta{encoding: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Hack Camp
    / Assets
    %link{rel:"stylesheet", type:"text/css", href: "https://fonts.googleapis.com/css?family=Open+Sans"}
    %link{rel: "stylesheet prefetch", type: "text/css", href: "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.css"}
    %link{rel: "stylesheet prefetch", type: "text/css", href: "/css/styles.css"}
    %link{rel: "shortcut icon", href: "/favicon.ico"}
    / SEO Stuffs
    %meta{name: :description, content: "Hack Camp is a two-week summer program designed for high school students passionate about technology. We'll bring you from your first line of code to publishing your first project."}
  %body
    .row.text-center.section.title
      .small-12
        / %h1 Hack Camp
        %img{src: "/img/hack_club.svg", alt: "Hack Camp", title: "Hack Camp", class: "header"}
        %h3
          %strong
            April 1st - 42nd
        %a.large.button Apply Now
    .row.text-center.section.summary
      .small-11.small-centered.large-8
        %p
          Hack Camp is a two-week summer program for high school students who
          want to make things with code. We'll bring you from your first line of
          code to publishing your first project.
    .row.text-center.section.faq
      .small-12
        %h1 FAQ
      .small-12.medium-6.large-4.columns
        %h2 Has science gone too far?
        %p
          There was obviously a line that was too far and we crossed it, but let's keep going and see what happens.
      .small-12.medium-6.large-4.columns
        %h2 Is it X?
        %p
          People don't think it is like it be but it do.
      .small-12.medium-6.large-4.columns
        %h2 Whose going to be there?
        %p
          Nobody but us chickens! But seriously, people will be there. We think
      .small-12.medium-6.large-4.columns
        %h2 This is small?
        %p Yes, this is a small answer.
      .small-12.medium-6.large-4.columns
        %h2 And do you know what else is Western?
        %p
          That's right, it's conquering stuff. So what can we conquer? Korea! They conquer Korea, taking it from its previous owner, China, and then go a little bit further.
