!!!
%html
  %head
    / Page info
    %meta{encoding: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Hack Camp
    / Assets
    %link{rel:"stylesheet", type:"text/css", href: "https://fonts.googleapis.com/css?family=Open+Sans"}
    %link{rel: "stylesheet", type: "text/css", href: "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/styles.css"}
    %link{rel: "shortcut icon", href: "/img/favicon.ico"}
    / Apply page prefetch
    %link{rel: "prefetch", href: "/application.html"}
    / SEO Stuffs
    %meta{name: "description",
          content: "Hack Camp is a two-week summer program designed for high school students passionate about technology. We'll bring you from your first line of code to publishing your first project."          }
    %meta{name: "twitter:card",
          content: "summary_large_image"}
    %meta{name: "twitter:site",
          content: "@starthackclub"}
    %meta{name: "twitter:image",
          content: "/img/bg_nogradient.jpg"}
    %meta{name: "og:title",
          content: "Hack Camp by Hack Camp"}
    %meta{name: "og:type",
          content: "website"}
    %meta{name: "og:url",
          content: "https://camp.hackclub.us"}
    %meta{name: "og:image",
          content: "/img/bg_nogradient.jpg"}
    %meta{name: "og:description",
          content: "Hack Camp is a two-week summer program designed for high school students passionate about technology. We'll bring you from your first line of code to publishing your first project."}
  %body
    .row.text-center.section.title
      .small-10.small-centered
        / %h1 Hack Camp
        %img{src: "/img/hack_club.svg", alt: "Hack Camp", title: "Hack Camp", class: "header"}
        %h3
          %strong
            April 1st - 42nd.
        %p
          Applications are currently being accepted on a rolling basis.
        %a{href: "/application", class: "large button"}
          Apply Now
    .row.text-center.section.summary
      .small-11.small-centered.large-6
        %p
          Hack Camp is a two-week summer program for high school students who
          want to make things with code. We'll bring you from your first line of
          code to publishing your first project.
    .row.text-center.section.faq
      .small-12
        %h1 FAQ
      .small-12.medium-10.large-6.medium-centered.columns
        %h2
          When is Hack Camp?
        %p
          Hack Camp sessions start every two weeks, beginning whenever we feel
          like it. Applications are currently being accepted on a rolling
          basis.
        %hr
      .small-12.medium-10.large-6.medium-centered.columns
        %h2
          Where is Hack Camp?
        %p
          Hack Camp will take place on Earth... probably... maybe... If it
          doesn't we'll make sure to provide adequite transport.
        %hr
      .small-12.medium-10.large-6.medium-centered.columns
        %h2
          When are applications due?
        %p
          We're doing admissions on a rolling basis, so if you've already
          applied and haven't heard back from us yet, don't worry! You'll hear
          back from us soon.
        %hr
      .small-12.medium-10.large-6.medium-centered.columns
        %h2
          Who is Hack Camp for?
        %p
          Hack Camp is for high school students who want to create apps, build
          websites, and make games. Over two exhilarating weeks, you'll learn
          fundamental web development skills transferable to game and app
          development. We welcome girls and boys ages 14-18, no prior
          experience necessary. Young adults with some experience are welcome
          as well, of course. Please bring your own laptop.
        %hr
      .small-12.medium-10.large-6.medium-centered.columns
        %h2
          How much does Hack Camp cost?
        %p
          Hack Camp costs $1000 for the two-week program. However, inclusivity
          is extremely important to us and we are readily offering full
          need-based financial aid (see the question on the application form).
          Payment is accepted with only the dankest of memes.
      .small-12.medium-10.large-6.medium-centered.columns
        .callout
          %h2
            What do I need to bring?
          %p
            You should bring your laptop, lunch, and a thirst for knowledge. Let
            us know if you don't have a laptop, and we'll do our best to
            accomodate you.
      .small-12.medium-10.large-6.medium-centered.columns
        .callout
          %h2
            I don't know how to code!
          %p
            Perfect! Hack Camp was built with beginners in mind. You'll be up to
            speed in no time.
      .small-12.medium-10.large-6.medium-centered.columns
        .callout
          %h2
            What if I already know how to code?
          %p
            There's always more to learn—why not surround yourself with awesome
            makers and doers with similar interests?
      .small-12.medium-10.large-6.medium-centered.columns
        .callout
          %h2
            What time of day is camp?
          %p
            Camp is Monday-Friday from 9:00pm to 5:30pm. Each camp goes for 2
            weeks.
      .small-12.medium-10.large-6.medium-centered.columns
        .callout
          %h2
            What will students gain from the program?
          %p
            Students will become comfortable their own ability to code and solve
            problems, as well as gain friendships with mentors and other
            students.
      / Jank workaround for Foundation's floating last columns on large screens
      .small-12.columns
    .row.text-center.section.footer
      .small-12.medium-8.medium-centered.columns
        .small-12.columns
          %h2 Any Questions?
          %p
            Please reach out! We can be reached anytime at <a class="email" href="mailto:summer@hackclub.com">summer@hackclub.com</a>.
