<div class="section banner banner-short text-center">
  <img src="/img/hackedu_logo.png">
  <h3 class="white hackedu-logo"><a href="/">hackEDU's</a></h3>
  <h1 class="white title">Welcome to Hack Camp</h1>
</div>
<div class="section projects text-center">
  <h1 class="white open-sans">The Venue</h1>
  <div class="row">
    <div class="small-10 small-centered large-6 large-centered columns">
      <a href="http://www.galvanize.com/campuses/san-francisco-soma/">
        <div class="panel">
          <h1>Galvanize (SoMa)</h1>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="section red text-center">
  <h1 class="open-sans"></h1>
  <div class="row">
    <div class="small-10 small-centered large-10 large-centered columns">
      <p><%= @message %></p>
    </div>
  </div>
</div>
<div class="contact section text-center">
  <h1 class="white">Any Questions?</h1>
  <p class="white">
  Please reach out! We can be reached anytime
  at <a href="mailto:summer@hackedu.us">summer@hackedu.us</a>.
  </p>
</div>
