<div class="section banner banner-short text-center">
  <img src="/img/hackedu_logo.png">
  <h3 class="white hackedu-logo"><a href="https://hackedu.us">hackEDU's</a></h3>
  <h1 class="white title">Hack Camp Invite</h1>
</div>
<div class="section summary text-center">
  <h1 class="open-sans"></h1>
  <div class="row">
    <div class="small-10 small-centered large-10 large-centered columns">
      <p><%= @message %></p>
    </div>
  </div>
</div>
<div class="section text-center">
  <div class="row">
    <div class="large-8 large-centered columns">
      <p>
        Camp is from 9:20am to 4:30pm Monday through Friday. If you can't
        attend a session, make sure a parent lets a Hack Camp Facilitator know.
        The curriculum is not hard, but can be fast-paced at times. To prevent
        anyone from falling behind anyone with 2 unexcused absenses will be
        dropped from the program.
      </p>
      <p>
        We look forward to seeing you on Monday (06/22) at Galvanize SF! If you
        have any questions, please reach out to Zach Latta at zach@hackedu.us
        or give him a call at 310-801-7309.
      </p>
    </div>
  </div>
</div>
<div class="section projects red-banner text-center">
  <h1 class="white open-sans">The Location</h1>
  <div class="row">
    <div class="small-10 small-centered large-8 large-centered columns">
      <div class="large-7 large-centered columns">
        <a href="http://www.galvanize.com/campuses/san-francisco-soma/">
          <div class="panel">
            <h1>Galvanize SF</h1>
          </div>
        </a>
      </div>
      <div class="row">
        <div class="columns">
          <div class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.1035486158403!2d-122.39663799999998!3d37.787613000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085807cb94a8b83%3A0x3cfc91016a294580!2sGalvanize!5e0!3m2!1sen!2sus!4v1432623771468" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </div>
      <a href="https://www.google.com/maps/dir/Montgomery+Street+BART+Station,+Market+Street,+San+Francisco,+CA/Galvanize,+44+Tehama+Street,+San+Francisco,+CA+94105/@37.7887021,-122.4027649,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x8085806285ddb1a3:0xad9ca7333b4399a7!2m2!1d-122.401067!2d37.789407!1m5!1m1!1s0x8085807cb94a8b83:0x3cfc91016a294580!2m2!1d-122.396638!2d37.787613!3e2">
        An 8 minute walk from the Mongomery station.
      </a>
    </div>
  </div>
</div>
<div class="contact section text-center">
  <h1 class="white">Any Questions?</h1>
  <p class="white">
    Please reach out! We can be reached anytime
    at <a href="mailto:summer@hackedu.us">summer@hackedu.us</a>.
  </p>
</div>
